# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Database (Local)
db.sqlite3
db.sqlite3-journal

# Secrets & Environment Variables
.env

# Static & Media
static/
media/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db